<a href="https://colab.research.google.com/github/RodrigoCoouto/Template_Trab_BD1_2020/blob/master/Gestor_de_Tarefas_e_Projeto_BD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import psycopg2 as psy
import pandas as panda


connect = psy.connect(host = "castor.db.elephantsql.com", database = "lpzjqswt", user = "lpzjqswt", password = "9yqKDup4_uEcHRUKjWpmkoOFAnp9REQg")

cursor = connect.cursor()

cursor.execute('start transaction')

In [ ]:
import seaborn as sns
import pandas as pd
import psycopg2


insert_tarefa = panda.read_sql_query("SELECT * FROM Tarefa", connect)

insert_projeto = panda.read_sql_query("SELECT * FROM Projeto", connect)

insert_cargo = panda.read_sql_query("SELECT * FROM Cargo", connect)

insert_prioridade = panda.read_sql_query("SELECT * FROM Prioridade", connect)

insert_estado = panda.read_sql_query("SELECT * FROM Estado", connect)

insert_pessoa = panda.read_sql_query("SELECT * FROM Pessoa", connect)

In [ ]:
insert_tarefa

   codigo  ...                                          descricao
0    1299  ...                  O deve programar a função de soma
1    1548  ...        Listar o peão,cavalo,bispo,dama,rei e torre
2    6266  ...  O responsavél deve definir em qual sentido a r...
3    5556  ...   O responsavél deve definir as funções da maquina
4    5513  ...  O responsável deve definir a velocidade máxima...
5    8548  ...                            Calcular o peso do galo
6    4863  ...                        Propor o tamanho da chaminé
7    4153  ...  O responsável deve definir como será a estrutu...
8    9562  ...                      Escolher movimentos para jogo
9    9699  ...                         Calcular o decibéis do som

[10 rows x 4 columns]

In [ ]:
insert_projeto

   codigo         nome data_entrega
0      17  Calculadora   2022-03-15
1      56       Xadrez   2022-07-18
2      25       Roleta   2022-03-21
3      13      Máquina   2022-08-15
4      96        Carro   2022-05-30
5      24         Galo   2022-05-26
6      28      Chaminé   2022-08-26
7      12         Moto   2023-01-20
8       2         Jogo   2022-12-14
9       3          Som   2021-12-31

In [ ]:
insert_cargo

     adm  cargo1  cargo2  cargo3  cargo4
0  54321   64321   54312   55555   65432
1  66222   54444   54322   54211   54213
2  64321   54322   54211   54213   65432
3  54312   54444   64321   54321   65432
4  55555   65432   64321   54211   54444
5  65432   54321   66222   54312   55555
6  54444   54321   55555   64312   54321
7  54211   55555   65432   54213   54322
8  54213   54321   64321   55555   54312
9  54322   54211   54444   54213   54321

In [ ]:
insert_prioridade

   nivel1  nivel2  nivel3
0  1299.0     NaN     NaN
1     NaN  1548.0     NaN
2     NaN     NaN  6266.0
3  5513.0     NaN     NaN
4     NaN  8548.0     NaN
5     NaN     NaN  4863.0
6     NaN  4153.0     NaN
7  9562.0     NaN     NaN
8     NaN     NaN  9699.0

In [ ]:
insert_estado

   todo   doing    done
0    17    56.0  1299.0
1  None    96.0    24.0
2     2  6266.0    28.0
3     3  9699.0     NaN
4  4863  5556.0    13.0
5  8548     NaN  9562.0
6  None    12.0     NaN
7  5513  4153.0     NaN
8    24  1548.0     NaN

In [ ]:
insert_pessoa

      id      nome data_nascimento                      email  senha
0  54321     Paulo      1998-01-11          paulo24@gmail.com   1198
1  54312   Rodrigo      1997-02-22     rodrigoocg@hotmail.com   2297
2  54213      Joao      1990-03-25          joao675@gmail.com   2590
3  54211   Ricardo      2000-07-28  ricardo09yude@hotmail.com   2800
4  54322     Pedro      1999-12-31         pedraogg@gmail.com   3199
5  54444   Eduardo      1987-06-25          dudu789@gmail.com   2587
6  64321     Maria      2001-01-21     mariamaria@hotmail.com   2101
7  55555  Joaquina      1993-06-29       joaquinaaa@gmail.com   2993
8  65432      José      1998-04-27        jose_egit@gmail.com   2798
9  66222  Henrique      2001-01-01   costa_henrique@gmail.com   1011